@import url('https://use.typekit.net/hgh0cpp.css');

img {
  height: 100px;
  width: 100px;
  position: center;
}

body {
  font-family: "basenji-variable", sans-serif;
  color: #e1e8fc;
  margin: 0; 
  padding: 0; 
  margin-top: 150px;
  background-color: #121212;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "basenji-variable", sans-serif;
  position: center;
}

p {
  padding: 10px;
  font-family: "basenji-variable", sans-serif;
}

nav a {
  color: red;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  background: #fff;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #121212;
}

nav a:hover, a:focus {
  text-decoration: underline;
}

.toggleNav {
  display: none;
}


.logo {
  display: flex;
  justify-content: center;
 background-color: #121212;
}

.toplogo {
  color: #4d3fcd;
  font-size: 2rem;
  font-weight: 400;
  font-kerning: -1px;
  margin: 5px;
}

.top {
  float left;
  width: 100%;
  position: fixed;
  top: 0;
  height: auto;
  background-color: #fff;
  z-index: 999;
  border-bottom: solid 2px #4d3fcd;
  background-color: #121212;
}

.top h1 a {
  font-size: 2rem;
  font-weight: 900;

}


.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;

}

.flex-nav li {
  -webkit-box-flex: 3;
  flex: 2;
  

}

.flex-nav li a {
  color: #4d3fcd;
   
}

.flex-nav li a:hover, .flex-nav li a:focus {
  color: #1b1363;
}

.flex-nav .social {
  -webkit-box-flex: 1;
  flex: 1;
}

a.nav {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

a.nav:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: coral;
}

.wrapper {
  background-color: #121212;
  max-width: 960px;
  min-width: 380px;
  margin: 0 auto;
}

.rect {
  width: 60%;
  max-width: 960px;
  min-width: 350px;
  height: auto;
  overflow: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.images {
  display: flex;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  float: left;
  text-align: center;
}

.imagebox {
  float: center;
  width: 200px;
  height: 200px;
  background-color: #121212;
  margin: 10px;
  padding: 10px;
}

.imageflex {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
